{% extends 'base.html' %}

{% block content %}
<div class="card w-75">
    <div class="card-header">

        <h1> Title: {{ release.title }}</h1>
        <div> The time of publishment: {{ release.date}}</div>
    </div>
    <div class="card-body">


             <h2> Authors:</h2>
        <ul class="list-group">
            <li class="list-group-item"> {{ release.author_specialist }}</li>


        </ul>
         <h2> Categories:</h2>
        <ul class="list-group">

            <li class="list-group-item">{{ release.category_release }}</li>

        </ul>
        <img src="/{{release.relimg}}" >
        <div> {{release.text}}</div>

    </div>
</div>

<p>

</p>

{% endblock %}