{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">


            {% if user.is_authenticated %}
            <div class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'view_books' %}">Books</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'view_audiobooks' %}">Audiobooks</a>
            </div>

            <div class="nav-item">
                <a class="nav-link" href="{% url 'view_release' %}">New Post</a>
            </div>
            {% else %}
            <div> class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </div>
            <div> class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
            {% if perms.media.add_book %}
            <div class="nav-item">
                <a class="nav-link" href="{% url 'create_book' %}">Add Book</a>
            </div>
             {% endif %}
             <div class="nav-item">
                <a class="nav-link" href="{% url 'list_auhtor' %}">Authors</a>
            </div>


        </ul>
    </div>
</nav>
<div class="container m-4">
    {% block content %}
    <p> Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji
        Tutaj będzie opis aplikacji<br>
        Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji<br>Tutaj będzie opis
        aplikacji </p>

    {% endblock %}
</div>
<p>{{ date }}</p>
</body>
</html>