{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <div class="container m-auto">

                <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3"><a href="/">Home</a> / Account Login for <b>{{user.username}}</b> </h1>

                    {% if perms.media.view_book %}
                        <div>
                            <a class="nav-link" href="{% url 'view_audiobooks' %}">Audiobooks</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'view_release' %}">Posts</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'view_books' %}">Books</a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'view_author' %}">Authors</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'view_specialist' %}">Specialist</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'make_appointment' %}">Make Appointment</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'detail_appointment' 1 %}">Make Appointment</a>
                        </div>
                    {% endif %}

                         {% if request.user.is_specialist %}
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'create_author' %}">Add Author</a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'create_book' %}">Add Book</a>
                        </div>


                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'create_audiobook' %}">Add Audiobook</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'create_release' %}">Add Release</a>
                        </div>

                        {% endif %}
                        {% if request.user.is_company %}
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'view_company' %}">Specific information</a>
                        </div>
                        {% endif %}

                            {% if user.is_authenticated %}
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </div>
                        {% else %}
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </div>
                        {% endif %}


        </ul>
    </div>
</nav>
<div class="container m-4">
    {% block content %}
    <p> Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji
        Tutaj będzie opis aplikacji<br>
        Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji Tutaj będzie opis aplikacji<br>Tutaj będzie opis
        aplikacji </p>

    {% endblock %}
</div>
<p>{{ date }}</p>
</body>
</html>